<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    
    <title>about</title>
</head>
<body>

  <!-- about section start -->
    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">About me</h2>
            <div class="about-content">
                <div class="column left">
                    <img src="/img/me.jpg" alt="">
                </div>
                <div class="column right">
                    <div class="text">I'm Shreya and I'm a <span class="typing-2"></span></div>
                    <p>Fullsteak Web developer Front end languages like HTML, Javascript, and CSS 
                        Back end programming languages like  PHP Version control systems like Git and GitHub APIs like REST and SOAP as well as protocol like HTTP
                        Database storage solutions like JSON, SQL, and NoSQL and visual communications skills
                        Apache or nginx servers</p>
                    {{!-- <a href="#">Download CV</a> --}}
                </div>
            </div>
        </div>
    </section>

<script src="js/script.js"></script>

</body>
</html>