<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="work">
    <h2>My Projects</h2><br>
    <iframe src="https://www.school.com/" title="School" width="700em" height="450em"></iframe>
    </div>
</body>
</html>